.game-info{
    display: grid;
    height: 148px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 24px 24px 24px 24px 24px 24px;
    justify-items: left;
    margin-bottom: 20px;
    max-width: 192px;
    min-height: 148px;
    min-width: 174px;
}
.label{
    grid-column: span 3;
}
.value{
    grid-column: span 2;
    color: var(--maze-color);
}