.maze-wrapper{
    max-width: 627px;
    margin-left: 30px;
    min-width: 227px;
    position: relative;
    width: 100%;
}
.maze{
    border-right: solid 2px var(--maze-color);
    border-bottom: solid 2px var(--maze-color);
    display: grid;
}
.maze-cell{
    border: solid 0.5px rgba(13, 101, 132, 0.16);
    height: 25px;
    width: 25px;
}

.shortest-route{
    background: rgba(96, 125, 139, 0.31);
    transition: all 1s linear;
}

.exit{
    background-image: radial-gradient(rgba(235, 226, 229, 0.31), rgba(233, 30, 99, 0.31), var(--main-bg-color)), url('../img/exit.png');
    background-position: center, center;
    background-size: 100%, 180%;
    border: none;
}

.north{
    border-top: solid 2px var(--maze-color);
}
.west{
    border-left: solid 2px var(--maze-color);
}
.invisible-maze{
    left: 0;
    position: absolute;
    top: 0;
}


